@using blazorpong.Shared.GameObjects
@page "/pong"

    <h1>Joc Pong</h1>
    <h4>Coordenades de la pilota: @CurrentGame.Ball.Coordinates.ToString() @CurrentGame.TileBallId() </h4>
    <table id="gameBoard" class="gameBoard">
        @for (int i = 0; i < GameBoard.MAX_ROW; i++)
        {
            <tr>
                @for (int j = 0; j < GameBoard.MAX_COL; j++)
                {
                    <td>
                        <div id="@(CurrentGame.GetTileId(j,i))" class="@(CurrentGame.GetClass(j, i) )">

                        </div>
                    </td>
                }
            </tr>
        }
    </table>

    @functions
    {
        GameBoard CurrentGame { get; set; }
        protected override void OnInit()
        {
            CurrentGame = new GameBoard();
        }
    }


